// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$theme-color-01: #ebff33;
$theme-color-02: #a0fb71;
$theme-color-03: #58f8ab;
$theme-color-04: #12f6e9;
$theme-color-05: #2f8f75;

$theme-color-06: #ededed;
$theme-color-07: #999999;
$theme-color-08: #666666;
$theme-color-09: #333333;
$theme-color-10: #0e0e0e;
